<%- include partials/header.ejs %>
<%- include partials/nav_bar.ejs %>

<div class="container">
    <div class="left-container">
      <img id="czarina-img" src="/Assets/images/czarina.jpg" alt="Czarina" />
      <a id="resume-button" class="button center" href="/Assets/Resume.pdf" target="_blank">Click here for my resume</a>
    </div>

    <div class="right-container">
      <img id="aboutlogo" src="/Assets/images/logo_pink.jpg" alt="logo">
      <h2>Hi! My name is Czarina Santos.</h2>
      <p>I am currently 23 years old, and reside in Toronto, Canada.</p>
      <p>
        I'm in my third semester of software engineering at Centennial College.
      </p>
      <p>
        I love working with all aspects of web development! I enjoy designing
        the interface, and developing both client and business sides of
        websites.
      </p>

      <p>Some of my technical skills include:</p>
      <ul>
        <li>Figma</li>
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>C#</li>
        <li>Java</li>
        <li>Photoshop</li>
      </ul>

      <p>
        My mission as a future software engineer is to continuously learn,
        innovate, and create high-quality software solutions that positively
        impact society. I strive to be a responsible and ethical professional,
        contributing to the advancement of the field while prioritizing user
        needs and satisfaction.
      </p>

      <p>
        Some of my hobbies include exploring family-owned restaurants around
        the city, listening to all kinds of music, and spending time with my
        dog.
      </p>

      <a class="button" href="/projects">
        Click here to see some of my projects!
      </a>
    </div>
  </div>
  <%- include partials/footer.ejs %>
