<%- include partials/header.ejs %>
<%- include partials/nav_bar.ejs %>

    <div id="home-container">
      <img id="logo" src="/Assets/images/logo_wide.jpg" alt="logo" />
      <h1>Welcome to the <%= title %> Page</h1>
      <h3>Development and Design</h3>
      <a class="button" href="/about">Learn More</a>
    </div>

<%- include partials/footer.ejs %>
